html{   
    height: 100%;
}
h1{
    font-size: 77px;
    color: rgba(0, 0, 0, 0.55);
    font-family: 'MonteCarlo', cursive;
    text-align: center; 
}
h2{
    background-image: url(images/elena-popova-hXY98KmQWkI-unsplash\ \(1\).jpg);
}
h3{
    font-size: 65px;
    color: rgba(0, 0, 0, 0.55);
    font-family: 'MonteCarlo', cursive;
    text-align: center;  
 }
h4{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    font-family: fantasy;
    text-align: center; 
    
}  
 img{ 
    text-align: center;
}
body{
    background-color: white; 
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    
    height: 700px;
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1028px;
}
nav {
    background-color:whitesmoke;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    width:1029px;
}  
nav a {
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
footer p{
    font-size: 14px;
    text-align: right;
    color: whitesmoke;
}
footer {
    background-color:rgba(1, 1, 1, 0.593);
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: right;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color:turquoise;
}
.fa-pinterest {
    background: white;
    color: turquoise;
}
.fa-instagram {
    background: white;
    color:turquoise;
}
   