html{
    height: 100%;
}
*{
   margin: 0;
   padding: 0;
   font-family: 'MonteCarlo', cursive;
}
.contact-section {
   background: url(bg.png) no-repeat center;
   background-size:cover;
   padding: 40px 0;
}
.contact-section h1{
    text-align: center;
    color: darkgray;
}
.border{
    width: 100px;
    height: 10px;
    background: darkgray;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0px;
    overflow: hidden
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background:darkgray;
    padding: 20px 40px;
    color: darkgray;
    transition: 0.5s;
}
.contact-form-text-focus{
    box-shadow: 0 0 10px 4px white;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;

}
.contact-form-btn{
    float: right;
    border: 0;
    background: turquoise;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{  
     background: black;
 }   

 nav {
    background-color:whitesmoke;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    width:1029px;
 }
 nav a {
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
