html{   
    height: 100%;
}
body{
    background-color: white;
    background-image: url(images/aldeen-li-XdGl9_iF06M-unsplash.jpg);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
}
body {
    height: 700px;
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 80px;
    text-align: center
}
nav {
    background-color:whitesmoke;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    width:1029px;  
}
nav a {
    text-decoration: none;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1028px;
}
main {
    
    height: 700px;
    padding-top: 0px;
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;
}
footer {
    background-color:rgba(1, 1, 1, 0.593);
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}
img{
    text-align: center;  
}
h1{
    font-size: 77px;
    color: rgba(0, 0, 0, 0.55);
    font-family: 'MonteCarlo', cursive;
    text-align: center;  
}
p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
    color:rgba(0, 0, 0, 0.55);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
footer p{
    font-size: 14px;
    text-align: right;
    color: whitesmoke;
    }
.max{
    padding-bottom: 200px;
    padding-top: 100px;
    text-align: center;
    } 
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: right;
    text-decoration: none;
 }
.fa:hover {
    opacity: 0.7;
  }
  
.fa-facebook {
    background: white;
    color:turquoise;
  }
  .fa-pinterest {
    background: white;
    color: turquoise;
  }
.fa-instagram {
    background: white;
    color:turquoise;
  }
h2 {
    text-align: center;  
    font-size: 40px;
    color: rgba(0, 0, 0, 0.55);
    font-family: 'MonteCarlo', cursive;

}
h3 {
    text-align: center;  
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    font-family:fantasy;
}
body {
    height: 700px;
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 80px;
    text-align: center
}